@model RegisterViewModel
@{
    ViewData["Title"] = "SuccessRegister";
}

<h1>registration has been done successfully !</h1>
<div class="alert alert-success">

thanks for registration . You can access the website through the bottom link .
<p>
    <a asp-controller="Account" asp-action="Login">Entering the website ! </a>
</p>
</div>

