@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Store !</h1>
<div class="row">

        @foreach (var item in Model)
        {

    <div class="col-3"> 
        <div class="card">
        <img src="/images/@(item.Id).jpg" height="160" width="160" class="card-img-top img-thumbnail"/>    

        <div class="card-body"> 

        <h5 class="card-title">@item.Name</h5>
    <a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id">Products Description </a>
        </div>
        </div>
    </div>
        } 

</div>


</div>
